#bg {


background: url(d.jpg);
background-size :cover ;
background-position: center;
}

#head , #nt {

  box-shadow: 1px 1px 30px black;
  background-color: orange;
  color: black;
  width: 30%;
  border-radius: 40cm;
  padding: 5px;

}

#nt {

    box-shadow: 1px 1px 30px black;
    background-color: orange;
    color: black;
    width: 50%;
    border-radius: 40cm;
    padding: 5px;
  
  }

  canvas {

border : 2px solid black ; 
border-radius: 40px;
box-shadow: 1px 1px 30px orange;
margin-top: 220px;
background-color: white;

  }

  #re {
    float: right;
margin-right: 10px;
height: 40px;



  }

  #im {

border: 30px solid orange;
border-radius: 40px;




  }